body {
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

.toprow { 
    height: 120px;
    border-style: solid;
    border-color: black;   
}

.topleft {
    height: 60px;
    width: 400px;
    margin-top: 30px;
    border-style: solid;
    border-color: black;
}