body {
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

.toprow { 
    height: 120px;
    border-style: solid;
    border-color: black;   
}

.topleft {
    height: 100px;
    width: 250px;
    margin: 7px;
    border-style: solid;
    border-color: black;
}