body {
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

.toprow { 
    height: 80px;
    border-style: solid;
    border-color: black;   
}

.topleft {
    height: 60
    px;
    border-style: solid;
    border-color: black;
}