body {
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

.toprow { 
    height: 120px;
    border-style: solid;
    border-color: black;   
}

.topleft {
    height: 100px;
    width: 250px;
    margin: 7px;
    border-style: solid;
    border-color: black;
}

.topmiddle {
    height: 90px;
    width: 600px;
    border-style: solid;
    border-color: black;
    align-items: center;
    margin-left: 400px;
    margin-top: -110px;
}

.topright {
    height: 80px;
    width: 300px;
    border-style: solid;
    border-color: black;
    align-items: center;
    margin-left: 1090px;
    margin-top: -90px;
}

.thinbar {
    height: 65px;
    border-style: solid;
    border-color: black;
    padding: 10px;
}